/* стиль для видео */

#video-container{
    position: relative;

}
#play-button{
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background-image: url("img/playl-button.png");
    background-size: contain;
    border: none;
    cursor: pointer;
}